.cabecera {
    color: blue;
    background-color: beige;
    text-align: center;

}    
.descripcion {
    color: #333;
    font-weight: bold;
}
.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.value {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 32px;
}
.input-name, .input-email, .input-password {
    margin-bottom: 22px;
}